@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom properties */

:root {
  --ff-karla: 'Karla', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-64: 4rem;

  --clr-cyan: hsl(179, 62%, 43%);
  --clr-light-cyan: hsl(179, 47.2%, 51.8%);
  --clr-bright-yellow: hsl(71, 73%, 54%);
  --clr-light-gray: hsl(204, 43%, 93%);
  --clr-grayish-blue: hsl(218, 22%, 67%);
  --clr-white: hsl(360, 100%, 100%);
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--clr-light-gray);
  color: var(--clr-white);
  font-family: var(--ff-karla);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  margin: 0;
  text-align: left;
}

/* Typography */

.title {
  font-size: var(--fs-24);
  font-weight: var(--fw-bold);
}

.title__upper {
  color: var(--clr-cyan);
}

.subtitle {
  color: var(--clr-bright-yellow);
  font-size: var(--fs-18);
  font-weight: var(--fw-bold);
}

.copy {
  color: var(--clr-grayish-blue);
  line-height: 1.8;
}

.mp-cost {
  color: var(--clr-white);
  font-size: var(--fs-18);
  opacity: 0.5;
}

.amount {
  font-size: var(--fs-36);
  font-weight: var(--fw-bold);
}

.mp-description {
  color: var(--clr-white);
  font-size: var(--fs-18);
  font-weight: var(--fw-regular);
}

.cta-btn {
  color: var(--clr-white);
  font-size: var(--fs-18);
  font-weight: var(--fw-bold);
}

.reasons {
  line-height: 1.5;
  opacity: 0.5;
}

/* Utility styles */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  margin: 0 auto;
  max-width: 374px;
}

/* SECTIONS */
.card {
  border-radius: 0.5em;
  margin: 0em 1.5em;
}

.upper-card {
  background-color: var(--clr-white);
}

.lower-card {
}

.lower-card--a {
  background-color: var(--clr-cyan);
}
.lower-card--b {
  background-color: var(--clr-light-cyan);
}

/* FOOTER */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
