@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom properties */

:root {
  /* --ff-poppins: 'Poppins', sans-serif;

  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-64: 4rem;

  --clr-red: hsl(0, 100%, 74%);
  --clr-green: hsl(154, 59%, 51%);
  --clr-green-brighter: hsl(154, 93%, 40%);
  --clr-blue: hsl(248, 32%, 49%);
  --clr-white: hsl(360, 100%, 100%);
  --clr-darkish-text: hsl(248, 7%, 56%);
  --clr-dark-blue: hsl(249, 10%, 26%);
  --clr-black: hsl(0, 0%, 0%);
  --clr-grayish-blue: hsl(246, 25%, 77%);
  --clr-light-grey: hsl(180, 1%, 86%); */
}

html,
body {
  height: 100%;
}

body {
  /* font-family: var(--ff-poppins);
  margin: 0;
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  line-height: 1.6;
  color: var(--clr-white);
  text-align: center;
  background-color: var(--clr-red);
  background-image: url('./images/bg-intro-mobile.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%; */
}

/* img {
  max-width: 100%;
} */

/* Typography */

/* FOOTER */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
