@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom properties */

:root {
  --ff-karla: 'Karla', sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-24: 1.5rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-64: 4rem;

  --clr-cyan: hsl(179, 62%, 43%);
  --clr-light-cyan: hsl(179, 47.2%, 51.8%);
  --clr-bright-yellow: hsl(71, 73%, 54%);
  --clr-light-gray: hsl(204, 43%, 93%);
  --clr-grayish-blue: hsl(218, 22%, 67%);
  --clr-white: hsl(360, 100%, 100%);
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--clr-light-gray);
  color: var(--clr-white);
  font-family: var(--ff-karla);
  font-size: var(--fs-14);
  font-weight: var(--fw-regular);
  margin: 0;
  text-align: left;
}

/* Typography */

.title {
  color: var(--clr-cyan);
  font-size: var(--fs-20);
  font-weight: var(--fw-bold);
}

.subtitle {
  color: var(--clr-bright-yellow);
  font-size: var(--fs-15);
  font-weight: var(--fw-bold);
}

.copy {
  color: var(--clr-grayish-blue);
  line-height: 1.8;
}

.section-header {
  font-size: var(--fs-18);
}

.amount {
  font-size: var(--fs-32);
  font-weight: var(--fw-bold);
}

.mp-cost {
  color: var(--clr-white);
  font-size: var(--fs-16);

  opacity: 0.5;
}

.mp-description {
  color: var(--clr-white);
  font-size: var(--fs-16);
  font-weight: var(--fw-regular);
  opacity: 0.8;
}

.cta-btn {
  color: var(--clr-white);
  font-size: var(--fs-14);
  font-weight: var(--fw-bold);
}

.reasons {
  line-height: 1.5;
  opacity: 0.8;
}

/* Utility styles */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0em auto;
}

/* SECTIONS */
.card {
  border-radius: 0.5em;
  box-shadow: 3px 7px 20px hsla(0, 1%, 30%, 0.3);
  margin: 3em 1.5em;
  width: 333px;
}

.upper-card {
  background-color: var(--clr-white);
  border-radius: 0.5em 0.5em 0 0;
  padding: 1.75em 1.75em;
}

.title {
  margin-bottom: 1.25em;
}

.subtitle {
  margin-bottom: 0.75em;
}

.lower-card {
}

.lower-card--a {
  background-color: var(--clr-cyan);
  padding: 1.75em 1.6em;
}

.section-header {
  margin-bottom: 0.85em;
}

.monthly-plan {
  position: relative;
}

.mp-cost {
  position: absolute;
  left: 25%;
  bottom: 57%;
}

.mp-description {
  margin: 0.5em 0;
}

.cta-btn {
  background-color: var(--clr-bright-yellow);
  border: none;
  border-radius: 0.25em;
  box-shadow: 3px 7px 10px hsla(0, 1%, 30%, 0.3);
  margin-top: 1.25em;
  padding: 1em 0;
  width: 100%;
}

.cta-btn:hover,
.cta-btn:active {
  box-shadow: 3px 7px 10px 5px hsla(0, 1%, 30%, 0.3);
  opacity: 0.9;
}

.lower-card--b {
  background-color: var(--clr-light-cyan);
  border-radius: 0em 0em 0.5em 0.5em;

  padding: 1.75em 1.6em;
}

/* FOOTER */

.footer {
  color: var(--clr-grayish-blue);
  padding: 0.5em 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-height: 800px) {
  .container {
    height: 95%;
  }

  .card {
    margin: 0;
  }
}

@media (min-width: 750px) {
  .container {
    height: 95%;
  }

  .card {
    width: 650px;
  }

  .title {
    font-size: var(--fs-24);
  }

  .subtitle {
    font-size: var(--fs-18);
  }

  .copy {
    font-size: var(--fs-16);
  }

  .section-header {
    font-weight: var(--fw-regular);
  }

  .amount {
    font-size: var(--fs-36);
  }

  .mp-cost {
    font-size: var(--fs-18);

    left: 32.5%;
    bottom: 50%;
  }

  .cta-btn {
    font-size: var(--fs-16);
  }

  .reasons {
    line-height: 1.5;
    opacity: 0.8;
  }

  .upper-card {
    padding: 2.5em 3em;
  }

  .lower-card {
    display: flex;
  }

  .lower-card--a,
  .lower-card--b {
    flex: 1 1 0;

    padding: 2.5em 3em;
  }

  .lower-card--a {
    border-radius: 0em 0em 0em 0.5em;
  }
  .lower-card--b {
    border-radius: 0em 0em 0.5em 0em;
  }

  .footer {
    margin-top: auto;
  }
}
